---
import Header from '../components/Header.astro'
import Layout from '../layouts/Layout.astro'
import AboutMeSection from '../components/AboutMeSection.astro'
import TechnologiesSection from '../components/TechnologiesSection.astro'
---

<Layout title="Mi porfolio">
  <main class="mx-[30rem]">
    <Header />
    <AboutMeSection />
    <TechnologiesSection />
  </main>
</Layout>
