---
import Header from '../components/Header.astro'
import Layout from '../layouts/Layout.astro'
import AboutMeSection from '../components/AboutMeSection.astro'
import ProjectsSection from '../components/ProjectsSection.astro'
import { getTranslations } from '../i18n/i18n'
const { currentLocale } = Astro

const DATA = getTranslations({ language: currentLocale })
---

<Layout
  title={currentLocale === 'es'
    ? 'Mi porfolio - Jayslen Rojas Seerano'
    : 'My porfolio - Jayslen Rojas Serrano'}
>
  <main
    class="mx-5 sm:mx-20 md:mx-6 lg:mx-32 xl:mx-56 2xl:mx-96 mb-14 relative"
  >
    <Header translation={DATA.HEADER_SECTION} />
    <AboutMeSection translation={DATA.INTRODUCCION_SECTION} />
    <ProjectsSection translation={DATA.PROJECT_SECTION} />
  </main>
</Layout>
