---
const { className } = Astro.props
---

<div
  class="w-full h-full rounded-md grid place-content-center p-3 transition-all duration-300 bg-cod-gray-200 shadow hover:scale-[0.96]"
  class:list={className}
>
  <slot />
</div>
