---
import SwitchLanguageComponent from './SwitchLanguageComponent.astro'
const { translation } = Astro.props
---

<header
  class="w-full bg-cod-gray-50 sticky top-5 z-10 rounded-b-lg py-3 right-0 lg:w-[500px]"
>
  <nav>
    <ul class="flex justify-center items-center gap-4">
      {
        translation.slice(0, -1).map((item) => (
          <li class="text-white bg-electric-violet-600 hover:bg-electric-violet-800 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm px-5 py-2.5 text-center inline-flex items-center font-Satoshi">
            <a href={`${item.url}`}>{item.title}</a>
          </li>
        ))
      }
      <li>
        <SwitchLanguageComponent TEXT_TRANSLATIONS={translation.at(-1)} />
      </li>
    </ul>
  </nav>

  <style>
    header {
      background: rgba(255, 255, 255, 0.25);
      box-shadow: 0 14px 10px 0 rgba(0, 0, 0, 0.1);
      backdrop-filter: blur(8px);
      -webkit-backdrop-filter: blur(8px);
    }
  </style>
</header>
