<header class="bg-cod-gray-50 w-96 rounded-full py-3 sticky top-7">
  <nav>
    <ul class="flex justify-center gap-4">
      <li><a href="#">Quien soy</a></li>
      <li><a href="#">Tecnologias</a></li>
      <li><a href="#">Projectos</a></li>
      <li><a href="#">Sobre mi</a></li>
    </ul>
  </nav>
</header>

<style>
  header {
    background: rgba(255, 255, 255, 0.25);
    box-shadow: 0 8px 32px 0 rgba(172, 139, 250, 0.37);
    backdrop-filter: blur(8px);
    -webkit-backdrop-filter: blur(8px);
  }
  a {
    color: #925df5;

    &:hover {
      color: #521d95;
    }
  }
</style>
