---
const currentLocale = Astro.currentLocale
const title = currentLocale === 'es' ? 'Mi porfolio' : 'My portfolio'
const { translation } = Astro.props
---

<header
  class="w-full rounded-b-full bg-cod-gray-50 sticky top-0 mx-auto sm:w-[500px] z-20"
>
  <div class="flex flex-col items-center justify-center w-full">
    <h3 class="font-Satoshi font-black text-2xl">{title}</h3>

    <a
      href={translation.url}
      class="text-cod-gray-100 underline hover:text-[#ffdead]"
    >
      {translation.title}
    </a>
  </div>
</header>

<style>
  header {
    background: rgba(255, 255, 255, 0.25);
    box-shadow: 0 14px 10px 0 rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(8px);
    -webkit-backdrop-filter: blur(8px);
  }
</style>
