---
const { link, text } = Astro.props
---

<a
  href={link}
  target="_blank"
  class="flex flex-row-reverse items-center gap-2 rounded-full px-3 py-1 hover:scale-95 transition-all duration-300 hover:bg-cod-gray-900 hover:bg-opacity-60"
>
  <span style="color: white;">{text}</span>
  <div class="w-6">
    <slot />
  </div>
</a>
