---
import Section from './Section.astro'
import Project from './Project.astro'

const { translation } = Astro.props
---

<Section title={translation.PROJECTS_SECTION_TITLE} id="projects">
  <h2 class="text-4xl font-black md:text-7xl skew-x-6 max-w-2xl">
    {translation.PROJECTS_SECTION_TITLE}
  </h2>
  <ul
    class="grid grid-cols-1 sm:grid-cols-[repeat(auto-fit,minmax(350px,1fr))]"
  >
    {translation.PROJECTS.map((project) => <Project {...project} />)}
  </ul>
</Section>
